// Global
$base     : #24273a;
$text     : #cad3f5;
$crust    : #181926;
$mantle   : #1e2030;
$surface0 : #363a4f;
$surface1 : #494d64;
$surface2 : #5b6078;
$overlay0 : #6e738d;
$overlay1 : #8087a2;
$overlay2 : #939ab7;
$subtext0 : #a5adcb;
$subtext1 : #b8c0e0;
$rosewater: #f4dbd6;
$flamingo : #f0c6c6;
$red      : #ed8796;
$maroon   : #ee99a0;
$pink     : #f5bde6;
$blue     : #8aadf4;
$teal     : #8bd5ca;
$sapphire : #7dc4e4;
$sky      : #91d7e3;
$peach    : #f5a97f;
$yellow   : #eed49f;
$green    : #a6da95;
$mauve    : #c6a0f6;
$lavender : #b7bdf8;
*{
	all: unset;
	font-family: feather;
	font-family: sans-serif;//Iosevka;
}

// Background
.bg {
	background-image: url("images/bg.png");
	background-color: $crust;
	opacity: 0.95;
}

// Generic window
.genwin {
	background-color: $base;
	border-radius: 16px;
}

// Profile
.face {
	background-size: 200px;
	min-height: 200px;
	min-width: 200px;
	margin: 65px 0px 0px 0px;
	border-radius: 100%;
}

.fullname {
	color: $mauve;
	font-size : 30px;
	font-weight : bold;
}

.username {
	color: $pink;
	font-size : 22px;
	font-weight : bold;
	margin : -15px 0px 0px 0px;
}

// System
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconcpu {
	color: $red;
}
.iconmem {
	color: $blue;
}
.iconbright {
	color: $yellow;
}
.iconbat {
	color: $green;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: $surface0;
	border-radius: 16px;
	min-height: 28px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar trough highlight {
	background-color: $red;
}
.mem_bar trough highlight {
	background-color: $blue;
}
.bright_bar trough highlight {
	background-color: $yellow;
}
.bat_bar trough highlight {
	background-color: $green;
}

// Calendar
calendar{
    background: $base;
    font-size: 25px;
    padding: 2px 5px;
    color: $flamingo;
    border-radius: 16px;
}

calendar.view {
    background-color: $base;
  }

calendar.button {
    background: transparent;
    color: $text;
    
}
calendar:hover {
      color: $peach;
    }

calendar:disabled {
      color: red;
}

calendar.header {
    background-color: $crust;
    border-radius: 16px;
    color: $lavender;
}

calendar.highlight {
    color: $text;
}

calendar:selected {
    color: $crust;
    background: $maroon;
    border-radius: 0.2em;
}

calendar:indeterminate {
    color: $overlay0;
}

// Time
.time_hour, .time_min, .time_div{
    font-size: 44px;
    font-weight: bold;
    color: $text;
}
.time_div{
    margin: -5px 0 0 0;
}

// Fetch
.fetch_items{
    font-size: 17px;
    margin: 50px 0;
}
.distro{
    color: $blue;
}
.winman{
    color: $sapphire;
}
.shell{
    color: $green;
}
.uptime{
    color: $yellow;
}
.packages{
    color: $red;
}

// Directories
.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family: CommitMono Nerd Font;
	font-size : 32px;
	font-weight : normal;
}
.iconfolder1, .label_folder1 {
	color: $pink;
}
.iconfolder2, .label_folder2 {
	color: $maroon;
}
.iconfolder3, .label_folder3 {
	color: $yellow;
}
.iconfolder4, .label_folder4 {
	color: $green;
}
.iconfolder5, .label_folder5 {
	color: $sapphire;
}
.iconfolder6, .label_folder6 {
	color: $blue;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}

// Weather
.iconweather {
	font-family: CommitMono Nerd Font;
	font-size : 100px;
	font-weight : normal;
    margin: 30px 0 0 50px;
}
.weather_stat{
    font-size: 40px;
    margin: 10px 0 5px 0;
    color: $sapphire;
}
.weather_temp {
	font-family: Bebas Neue;
    font-size : 80px;
	font-weight : Bold;
    margin: 0 30px 0 0;
    color: $peach;
}
.weather_quote{
    font-size: 17px;
    color: $lavender;
}
.weather_quote2{
    margin: -5px 0 0 0;
}

// Music
.album_art {
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
	min-height: 240px;
	min-width: 240px;
	margin: 30px 20px 30px 30px;
	border-radius: 14px;
}
.title {
    font-family: "M+ 1m";
	color: $peach;
	font-size : 24px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.artist {
	color: $pink;
	font-size : 17px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.song_prev, .song_play, .song_next {
	font-family: CommitMono Nerd Font;
}
.song_prev {
	color: $yellow;
	font-size : 32px;
	font-weight : normal;
}
.song_play {
	color: $yellow;
	font-size : 44px;
	font-weight : bold;
}
.song_next {
	color: $yellow;
	font-size : 32px;
	font-weight : normal;
}

.song_bar scale trough highlight {
	all: unset;
	background-color: $lavender;
	border-radius: 8px;
}
.song_bar scale trough {
	all: unset;
	background-color: $surface0;
	border-radius: 8px;
	min-height: 20px;
	min-width: 310px;
	margin : 10px 0px 0px 0px;
}

// Power Menu
.power_logout, .power_sleep, .power_reboot, .power_shutdown, .power_lock {
	font-size : 48px;
	font-weight : bold;
}

.power_logout {
	color: $blue;
}
.power_sleep {
	color: $yellow;
}
.power_reboot {
	color: $green;
}
.power_shutdown {
	color: $red;
}
.power_lock {
    color: $lavender;
}

// Mail
.iconmail {
    color: $red;
	font-family: CommitMono Nerd Font;
	font-size : 70px;
	font-weight : normal;
    margin: -10px 0 0 0;
}
.mailbox{
    background-color: $surface0;
	border-radius: 10px;
	margin: 0px 0px 0px 0px;
}
.label_mails {
	color: $text;
	font-size : 32px;
	font-weight : bold;
	margin: -15px 0 0 0;
}

// Apps Drawer
.apps_margin{
    margin: 15px 0 15px 0;
}
.app_firefox, .app_signal, .app_discord, .app_spotify,
.app_github, .app_code, .app_lutris {
    background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
}

.app_fox {}
.app_telegram {}
.app_discord {}
.app_spotify {}
.app_github {}
.app_code {}
.app_vbox {}
