// Global
$base     : #24273a;
$text     : #cad3f5;
$crust    : #181926;
$mantle   : #1e2030;
$surface0 : #363a4f;
$surface1 : #494d64;
$surface2 : #5b6078;
$overlay0 : #6e738d;
$overlay1 : #8087a2;
$overlay2 : #939ab7;
$subtext0 : #a5adcb;
$subtext1 : #b8c0e0;
$rosewater: #f4dbd6;
$flamingo : #f0c6c6;
$red      : #ed8796;
$maroon   : #ee99a0;
$pink     : #f5bde6;
$blue     : #8aadf4;
$teal     : #8bd5ca;
$sapphire : #7dc4e4;
$sky      : #91d7e3;
$peach    : #f5a97f;
$yellow   : #eed49f;
$green    : #a6da95;
$mauve    : #c6a0f6;
$lavender : #b7bdf8;
*{
  all:unset;
}
.bg {
  border-radius: 10px;
  background-color: $base;
  color: $text;
}
.txt{
  margin: 0 10px;
}
