$base     : #24273a;
$text     : #cad3f5;
$crust    : #181926;
$mantle   : #1e2030;
$surface0 : #363a4f;
$surface1 : #494d64;
$surface2 : #5b6078;
$overlay0 : #6e738d;
$overlay1 : #8087a2;
$overlay2 : #939ab7;
$subtext0 : #a5adcb;
$subtext1 : #b8c0e0;
$rosewater: #f4dbd6;
$flamingo : #f0c6c6;
$red      : #ed8796;
$maroon   : #ee99a0;
$pink     : #f5bde6;
$blue     : #8aadf4;
$teal     : #8bd5ca;
$sapphire : #7dc4e4;
$sky      : #91d7e3;
$peach    : #f5a97f;
$yellow   : #eed49f;
$green    : #a6da95;
$mauve    : #c6a0f6;
$lavender : #b7bdf8;

*{
    all: unset;
}

.bar{
    background-color: $base;
}
.bar .top{
    //background-color: blue;
}
.bar .bottom{
    //background-color: red;
}

.powermenu{
    font-size: 23px;
    padding: 5px 0 10px 0;
}
.power-btn{
    padding: 0px 1px 0px 0;
    font-size: 37px;
    background-color: $surface0;
    border-radius: 7px;
    margin: 0 5px;
    color: $maroon;
}
.other-power-btns{
    background-color: $surface0;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 10px -20px 10px;
    border-radius: 20px;
}
.reboot_icon{
    color: $yellow;
}
.lock_icon{
    color: $green;
}
.sleep_icon{
    color: $blue;
}
.exit_icon{
    color: $mauve;
}

.time{
    background-color: $surface0;
    margin: 5px;
    border-radius: 7px;
    padding: 5px 0;
    font-weight: 800;
    font-size: 18px;
    color: $text;
}

.control{
    padding: 11px 8px 8px 8px;
    margin: 5px;
    border-radius: 7px;
    font-size: 22px;
    background-color: $surface0;
}

.control *{
}

.control .wifi_icon{
    color: $mauve;
}
.control .bluetooth_icon{
    color: $blue;
}
.control .battery_icon{
    color: $green;
}
.control .brightness_icon{
    color: $yellow;
}
.control .volume_icon{
    color: $maroon;
}

scale trough{
    all: unset;
    background-color: $base;
    border-radius: 5px;
    min-height: 70px;
    min-width: 10px;
}
scale trough highlight{
    border-radius: 5px;
}
.volume_bar trough{
    margin: 5px 0 0 0;
}
.volume_bar trough highlight{
    background-color: $maroon;
}
.brightness_bar trough highlight{
    background-color: $yellow;
}

.workspaces{
    color: $surface2;
    margin: 10px 5px;
    border-radius: 7px;
    font-size: 23px;
    //background-color: red;
}
.workspaces * {
    border-radius: 7px;
    padding: 1px;
}
.occupied_1 .workspace_1,
.occupied_2 .workspace_2,
.occupied_3 .workspace_3,
.occupied_4 .workspace_4{
    color: $text;
}
.active_workspace_1 .workspace_1,
.active_workspace_2 .workspace_2,
.active_workspace_3 .workspace_3,
.active_workspace_4 .workspace_4{
    background-color: $text;
    color: $base;
}

